* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: #fff;
}

.login-box {
  width: 80%;
  max-width: 380px;
  padding: 40px;
  background: #141414;
  border-radius: 12px;

  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #00e6e0;
  margin-bottom: 12px;
  font-weight: 700;
}

p {
  color: #aaa;
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 0.95rem;
}

input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #1b1b1b;
  color: #fff;
  transition: outline 0.3s ease;
}

input:focus {
  outline: 1px solid #00e6e0;
  box-shadow: 0 0 5px rgba(0, 230, 224, 0.5);
}

button {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 6px;
  background-color: #00e6e0;
  color: #000;
  margin-bottom: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 230, 224, 0.4);
}

.error {
  color: #ff4d4d;
  margin-bottom: 15px;
  display: none;
  text-align: left;
  font-size: 0.85rem;
}