:root {
  --bg-color: rgb(10, 10, 10);
  --text-main: #ffffff;
  --text-muted: #cccccc;
  --accent-color: #00cec9;
  --secondary-bg: #1e1e1e;
  --social-color: #aeaeae;
  --social-hover: #878787;
  
  --btn-text-color: #000;
  --back-btn-text: #fff;
  --back-btn-bg: rgba(0, 230, 224, 0.1);
  --back-btn-border: rgba(0, 230, 224, 0.4);
}

.light-mode {
  --bg-color: #ffffff;          
  --text-main: #333333;       
  --text-muted: #666666;         
  --secondary-bg: #f9f9f9;      
  --social-color: #666666;
  --social-hover: #000000;

  --back-btn-text: #333333;     
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color); 
  color: var(--text-main);     
}

.back-button {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 900;

  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--back-btn-text); 
  padding: 10px 15px;
  border-radius: 8px;

  background-color: var(--back-btn-bg);    
  border: 1px solid var(--back-btn-border); 

  transition: all 0.3s ease;
}

.back-button i {
  color: var(--accent-color); 
  font-size: 1.2rem;
}

.back-button:hover {
  background-color: rgba(0, 230, 224, 0.3); 
  color: var(--accent-color); 
}

.hero {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 6rem;
  position: relative;
}

.profile-pic img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.highlight {
  color: var(--accent-color); 
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;
  line-height: 1.6;
  color: var(--text-muted); 
}

.buttons {
  margin-top: 1.8rem;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0.3rem;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--accent-color); 
  color: var(--btn-text-color);         
}

.btn-secondary {
  background: var(--secondary-bg);       
  border: 2px solid var(--accent-color); 
  color: var(--accent-color);           
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px var(--back-btn-border); 
}

.socials {
  margin-top: 2rem;
}

.socials a {
  color: var(--social-color); 
  margin: 0 0.8rem;
  font-size: 1.3rem;
  transition: 0.3s;
}

.socials a:hover {
  color: var(--social-hover); 
}