* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(10, 10, 10);
  color: #fff;
  overflow-x: hidden;
}

.back-button {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 900;

  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;

  background-color: rgba(0, 230, 224, 0.1);
  border: 1px solid rgba(0, 230, 224, 0.4);
  border: none;

  transition: all 0.3s ease;
}

.back-button i {
  color: #00cec9;
  font-size: 1.2rem;
}

.back-button:hover {
  background-color: rgba(0, 230, 224, 0.3);
  color: #00cec9;
}

.hero {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 6rem;
  position: relative;
}

.profile-pic img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.highlight {
  color: #00cec9;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;
  line-height: 1.6;
  color: #ccc;
}

.buttons {
  margin-top: 1.8rem;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0.3rem;
  transition: 0.3s;
}

.btn-primary {
  background-color: #00cec9;
  color: #000;
}

.btn-secondary {
  background: #1e1e1e;
  border: 2px solid #46c9c4;
  color: #46c9c4;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 230, 224, 0.4);
}

.socials {
  margin-top: 2rem;
}

.socials a {
  color: #aeaeae;
  margin: 0 0.8rem;
  font-size: 1.3rem;
  transition: 0.3s;
}

.socials a:hover {
  color: #878787;
}
