.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 500;
  padding: 12px 0;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

/* LOGO */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-size: 20px;
}

/* MENU */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  white-space: nowrap;
}

.nav-link {
  color: #ffffff;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  border: 3px #000;
}

.nav-link:hover {
  color: #00e6e0;
  transform: translateY(-3px);
}

/* SEARCH BAR */
.search-bar {
  flex: 1;
  max-width: 450px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar input {
  width: 100%;
  padding: 9px 12px;
  border: none;
  border-radius: 6px 0 0 6px;
  background: #fff;
  color: #000;
}

.search-bar button {
  padding: 9px 12px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* ICONS */
.cart-icon,
.user-icon, 
.hamburger-icon {
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.3s ease;
}

.cart-icon:hover,
.user-icon:hover, 
.hamburger-icon:hover {
  color: #00e6e0;
  transform: translateY(-3px);
}

/* CART COUNT */
.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: linear-gradient(135deg, #e60000 0%, #c00000 100%);
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(230, 0, 0, 0.6);
}

/* MOBILE MENU */
.mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(15px);
  display: none;
  z-index: 900;
}

.mobile-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobile-menu a {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.nav-hamburger {
  display: none;
}

.hamburger-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  padding: 10px;
  transition: 0.3s ease;
  z-index: 10000;
}












@media (max-width: 992px) {

  .nav-container {
    justify-content: space-between;
  }

  .nav-menu {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .nav-hamburger {
    display: flex !important;
  }
}